*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.heading{
    text-align: center;
    font-weight: 900;
    padding: 1rem;
}

.container{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    max-width: 1100px;
    align-items: center;
    gap: 100px;
}

.containerOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 200px;
}

.colorPicker{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.button{
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    border-style: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.colorPicker,
.rainbow,
.gridSize,
.btn,
.eraser{
    width: 100%;
}

.slidecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.display{
    font-size: 1rem;
    font-weight: 600;
}
.colorPic{
    width: 100px;
    height: 100px;
    border-style: none;
}

.gridBox {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: beige
}

.cell{
    border: 1px solid;
}

.addColor{
    background-color: black;
}